fastapi
uvicorn
python-multipart
mysql-connector-python
bcrypt
pyjwt
langchain
langchain-community
langchain-huggingface
langchain-chroma
pypdf
python-docx
google-generativeai
sentence-transformers
rank_bm25
python-dotenv
gunicorn